/* Write your code here. */
body {
  margin: 0;
}
.bg-container {
  height: 100vh;
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: white;
  font-family: "Bree Serif";
  font-size: 32px;
  font-weight: bold;
}
.likeButton {
  color: white;
  background-color: #eab308;
  width: 150px;
  padding: 10px;
  height: 40px;
}
.commentButton {
  color: black;
  background-color: #fff;
  border-radius: 12px;
  border-width: 0px;
  padding: 10px;
  width: 150px;
  height: 40px;
}
.shareButton {
  color: white;
  background-color: #323f4b;
  width: 150px;
  padding: 10px;
  height: 40px;
}
